<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>vue 시작하기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <h1>vue 시작하기!</h1>
    <div id="start">
        <h2>다양한 형태의 타입에서 데이터 바인딩.</h2>
        <div>
            <p>select type </p>
            <select v-model="select">
                <option value="" disabled>옵션 중 하나를 선택해 주세요.</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            <h3>선택함: {{ select }}</h3>
        </div>
        <div>
            <p>checkbox type</p>
            <input type="checkbox" value="1" v-model="checks">
            <label>1</label>
            <input type="checkbox" value="2" v-model="checks">
            <label>2</label>
            <input type="checkbox" value="3" v-model="checks">
            <label>3</label>
            <br>
            <h3>체크리스트: {{ checks }}</h3>
        </div>
        <div>
            <p>radio type</p>
            <input type="radio" value="1" v-model="radio">
            <label>1</label>
            <input type="radio" value="2" v-model="radio">
            <label>2</label>
            <input type="radio" value="3" v-model="radio">
            <label>3</label>
            <br>
            <h3>선택: {{ radio }}</h3>
        </div>

    </div>

    <script type="text/javascript">
        let app = new Vue({
            el: '#start', // 애플리케이션 루트 
            data() {
                return {
                    select: '1',
                    checks: ['1', '3'],
                    radio: '2'
                }
            }
        });
    </script>
</body>

</html>